
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{padding: 0;margin: 0;}
#root {position: relative;width: 100%;background: rgb(0,212,255);background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);background-image: url(https://images.unsplash.com/photo-1619204715997-1367fe5812f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80);background-size: cover;background-position: center;background-attachment: fixed;}
header{background-color: rgb(0, 0, 0,0.7);display: flex;justify-content: space-around;padding-block: 1.5rem;position: fixed;top: 0;z-index: 999;width: 100%;align-items: center;}
nav{display: flex;justify-content: center;gap: 2rem;}
nav a {font-family: 'Righteous', sans-serif;color: #fff;text-decoration: none;}
main{
    
    display: flex;
    align-items: center;
    justify-content: center;     
    gap: 3rem;
    flex-wrap: wrap;
    padding: 7rem 1rem;
}
.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  
}
.page{
  width: 100%;
  height: 100vh;

  background-color: rgb(255, 255, 255,0.4);
  position: fixed;
  top: 0;
  z-index: 444;
  
}
.parent{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form span{
  position: absolute;
  top: -2%;
  right: 2%;
  color: red;
  font-size: 3rem;
  cursor: pointer;
}
form{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 2rem 1rem;
  gap: 2rem;
  border-radius: 30px;
}
.a{
  display: flex;
  flex-direction: column;
}
label{
  font-family: 'Righteous', sans-serif;
  color: #fff;
}
input{
  width: 300px;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  border: none;
}
.bouton{
  width: 100%;
  display: flex;
  justify-content: center;
}
.bouton input{
  width: fit-content;
}
img{
  width: 300px;
  height: 250px;
  overflow: hidden;  

}
.banner-image {
  display: flex;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  height: 100%;
  object-fit: cover; 
  object-position: center;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}

h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper{
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}
.recherche{
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.recherche input{
   border-radius:20px ;
   padding: 0.2rem 0.4rem;
   border: none;
}
.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
